{% extends "base.html" %}
{% block title %}
 {% if post_edit %}Редактировать
 {% else %}Просмотр поста
 {% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    <p><img src="/static/1530546770_rmk_vdjbx10.jpg" alt="111"></p>
                                    {{ post.author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     @{{ post.author.get_username }}

                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ posts_count }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->  
                <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                                <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                        <a href="/{{ post.author.get_username }}/"><strong class="d-block text-gray-dark">@{{ post.author.get_username }}</strong></a>
                                        <!-- Текст поста -->
                            <p>{{ post.text|linebreaksbr }}</p>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                            {% if post.author.get_username == user.username %}
                                                <!-- Ссылка на редактирование, показывается только автору записи -->
                                                <a class="btn btn-sm text-muted" href="/{{ author.get_username }}/{{ post.id }}/edit" role="button">Редактировать</a>
                                        </div>
                                    {% endif %}
                                        <!-- Дата публикации  -->
                                        <small class="text-muted">{{ post.pub_date|date }}</small>
                                </div>
                        </div>
                </div>
     </div>
    </div>
</main>
{% endblock %}